.crew-item {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.crew-item > h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    padding-top: 2vh;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 154px;
    padding-top: 76px;
    padding-left: 166px;
}

.crew-item > h1 > span {
    color: #383838;
    padding-right: 1rem;
    font-weight: bold;
}

.crew-item .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.crew-item .left > h2 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    color: #55585E;}

.crew-item .left > h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 27px;
}

.crew-description {
    max-width: 444px;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #D0D6F9;
}

.crew-item  .buttons {
    padding-top: 120px;
    padding-bottom: 94px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.buttons > button:first-child {
    background-color: #FFFFFF;
}

section.Mark button:first-child {
    background-color: #979797;
}

section.Victor button:first-child {
    background-color: #979797;
}

section.Anousheh button:first-child {
    background-color: #979797;
}

section.Mark button:nth-child(2), .buttons > button:first-child {
    background-color: #FFFFFF;
}

section.Victor button:nth-child(3) {
    background-color: #FFFFFF;
}

section.Anousheh button:nth-child(4) {
    background-color: #FFFFFF;
}

.buttons > button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #979797;
    cursor: pointer;
}

.buttons > button:hover {
    background-color: #86878C;
}

.crew-item .right > img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1064px) {
    .crew-item {
        background-image: url('../assets/crew/background-crew-tablet.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .crew-item > h1 {
        padding: 0;
        padding-left: 38.5px;
        padding-top: 136px;
        padding-bottom: 60px;
    }
    .crew-item .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .crew-item .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .crew-item .buttons {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 450px) {
    .crew-item {
        background-image: url('../assets/crew/background-crew-mobile.jpg');
        background-size: cover;
        background-position: center;
    }
    .crew-item > h1 {
        font-size: 16px;
        text-align: center;
        padding: 0;
        padding-top: 88px;
        padding-left: 105px;
        padding-right: 104px;
        padding-bottom: 32px;
    }

    .crew-item .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .crew-item .right {
        flex-grow: 1;
        border-bottom: 1px solid #383B4B;
        margin: 0 24px;
    }

    .crew-item .left .buttons {
        order: -1;
    }

    .crew-item .left > h2 {
        font-size: 16px;
    }
    .crew-item .left > h3 {
        font-size: 24px;
    }
    .crew-description {
        font-size: 15px;
        text-align: center;
        width: 80%;
        padding-bottom: 79px;
    }
    .crew-item .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        text-align: center;
    }
    .crew-item .right > img {
        width: auto;
        height: 223px;
    }

    .crew-item .buttons {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}