body, ul, header {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


header .logo {
    position: relative;
}

header .logo::after {
    content: '';
    position: absolute;
    width: 473px;
    height: 1px;
    background-color: #979797;
    bottom: 50%;
    left: 7vw;    
    transform: translateY(-50%);
}

.menu {
    width: 50%;
    margin:2rem 0;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 50px;
    backdrop-filter: blur(10px);
    padding: 3rem;
    padding-right: 163px;
}

.menu li, .menu span {
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
}

.menu li {
    position: relative;
}

.menu li.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    bottom: -3rem;
    left: 0;
}

.menu span {
    font-weight: bold;
}

.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: none;
}

@media screen and (max-width: 1064px){

    header {
        align-items: flex-start;
    }

    header .logo {
        padding-top: 0;
    }

    header .logo::after {
        display: none;
    }

    .menu {
        margin: 0;
        background-color: #1A1B26;
        margin-left: 123px;
        width: 70%;
    }

    .menu li {
        height: 100%;
        position: relative;
    }

    .menu li.active::after {
        width: 100%;
        bottom: -2rem;
        left: 0;
    }

    .hero .left h1 {
        font-size: 20px;
        letter-spacing: 3.38px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }

    .hero .left h1 strong {
        font-size: 150px;
    }

    .hero .left p {
        font-size: 16px;
        text-align: center;
    }

    .hero .right a {
        padding: 103px 42px;
    }

    .menu ul {
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .menu ul li span {
        font-size: 14px;
    }

    .menu {
        width: 70%;
    }

    .menu li span {
        display: none;
    }

    .hero ul {
        gap: 37px;
    }
}

@media screen and (max-width: 450px){
    .menu {
        display: none;
    }
    .menu ul li, .menu ul li span {
        display: none;
    }
    header .logo::after {
        display: none;
    }
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .hamburger-icon {
        display: block;
        cursor: pointer;
    }
    .hamburger-menu > svg {
        width: 24px;
        height: 21px;
    }
    .hamburger-menu {
        display: none;
    }
    header.hamburger-open .hamburger-menu {
        display: block;
        height: 100vh;
        width: 70%;
        position: fixed;
        top: 0;
        right: 0;
        backdrop-filter: blur(81px);
    }

    header.hamburger-open .hamburger-menu .container {
        padding-left: 32px;
        height: 50vh;
        display: flex;
        gap: 32px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    header.hamburger-open .hamburger-menu li {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
    }

        header.hamburger-open .hamburger-menu li span {
            font-weight: bold;
            padding-right: 11px;
        }

    header.hamburger-open .hamburger-menu .icon {
        position: absolute;
        top: 34px;
        right: 20px;
    }
}