.hero {
    flex-grow: 1;
    display: flex;
    padding-left: 177px;
    align-items: center;
}

.hero section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 346px;
  align-items: center;
  height: 100%;
  padding-top: 20vh;
}

.hero .left {
    flex: 1;
    max-width: 445px;
}

.hero .left h1 {
     font-size: 28px;
     letter-spacing: 4.72px;
     padding-bottom: 24px;
 }

 .left h1 strong {
     font-family: "Bellefair", serif;
     font-weight: 400;
     font-style: normal;
     font-size: 150px;
     text-transform: uppercase;
 }

.hero .left p {
    line-height: 32px;
}


.hero .right {
    flex: 1;
    max-width: 445px;
    padding-left: 100px;
}

.hero .right a {
    font-family: 'Bellfair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0B0D17;
    padding: 118px 57px;
    background-color: white;
    border-radius: 50%;
}

@media screen and (max-width: 1064px){

    .hero {
        padding: 0;
    }

    .hero .left {
        width: 100%;
    }

    .hero .right {
        width: 100%;
        padding-left: 0;
    }

    .hero section {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    header {
        padding-top: 24px;
        align-items: center;
        margin: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    .hero {
        padding-top: 112px;
        padding-left: 24px;
        display: block;
        height: 100vh;
    }
    .hero .left h1 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .hero .left h1 strong {
        padding-bottom: 16px;
        font-size: 80px;
    }
    .hero section {
        display: flex;
        flex-direction: column;
        gap: 1;
        padding: 0;
    }

    .hero .left {
        padding-left: 0;
        text-align: center;
    }
    .menu ul {
        backdrop-filter: blur(0px);
    }

    .hero .right {
        padding-left: 0;
    }
    .hero .right a {
        padding: 64px 23px;
        font-size: 20px;
    }
    .hero .left {
        width: 80%;
    }
    .hero .left p {
        line-height: 25px;
        font-size: 15px;
    }
}