.technology-item {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
}

.technology-item > h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    padding-top: 2vh;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 137px;
    padding-top: 76px;
    padding-left: 166px;
}

.technology-item > h1 > span {
    color: #383838;
    padding-right: 1rem;
    font-weight: bold;
}

.technology-item .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technology-item .left {
    padding-left: 165px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.technology-item .left > h2 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    color: #55585E;
}

.technology-item .techno-infos > h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 17px;
}

.technology-item .left .numbers {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.technology-item .left .numbers button:first-child {
    background-color: #FFFFFF;
    color: #0B0D17;
}

.technology-item .left .numbers button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
}

.technology-description {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #D0D6F9;
    line-height: 32px;
}

.technology-item .right {
    justify-self: flex-end;
}

.technology-item .right > img {
    width: 100%;
    height: auto;
    padding-bottom: 101px;
}

.technology-item .left p {
    max-width: 444px;
}

.technology-item .techno-infos span {
    color: #D0D6F9;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1064px) {
    .technology-item {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .technology-item > h1 {
        padding-top: 136px;
        padding-left: 38.5px;
        padding-bottom: 60px;
    }

    .technology-item .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .technology-item .right > img {
        height: 500px;
    }
    .technology-item .left {
        flex-direction: column;
        gap: 0;
        padding: 0;
        width: 100%;
    }
    .technology-item .right {
        width: 100%;
    }
    .technology-item .left .numbers {
        padding-bottom: 44px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .technology-description {
        padding-bottom: 97px;
        text-align: center;
    }
    .technology-item .techno-infos span {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

@media screen and (max-width: 450px) {
    .technology-item {
        background-image: url('../assets/technology/background-technology-mobile.jpg');
        background-size: cover;
        background-position: center;
        height: auto;
    }
    .technology-item > h1 {
        font-size: 16px;
        padding: 0;
        padding-top: 88px;
        padding-bottom: 32px;
        text-align: center  ;
    }
    .technology-item .techno-infos > h3 {
        font-size: 24px;
    }

    .technology-item .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .technology-item .left {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;    
    }
    .technology-item .left .numbers {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .technology-item .left p {
        text-align: center;
        font-size: 15px;
        max-width: 327px;
        margin-left: auto;
        margin-right: auto;
    }

    .technology-item .right > img {
        width: 100%;
        height: 170px;
        object-fit:cover; /* Ajoutez cette ligne */
        padding: 0;
        margin-bottom: 34px;
    }
    
    .technology-item .left .numbers button {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }
    .technology-item .techno-infos {
        width: 100%;
        text-align: center;
        padding-bottom: 81px;
    }
    .technology-item .techno-infos span {
        font-size: 14px;
    }
}