* {
  box-sizing: border-box;
  margin: 0;padding: 0;
  }

  h1 {
    font-family: 'Barlow Condensed', sans-serif;
  }

  p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #D0D6F9;
  }

  li {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
  }

  a {
    text-decoration: none;
  }
  
  .home-background {
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }